<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KovalevPractice.Properties.Settings.HospitalPracticeKovConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=HospitalPracticeKov;Persist Security Info=True;User ID=u21koval_art;Password=2ghk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>